/* Home */
#home {
  background: url("../imgs/iron-man_bg2.webp") center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 120px;

  position: relative;
}

.home__divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.home__divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.home__divider .shape-fill {
  fill: #ffffff;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-orange);
}
